@import "utility";

//==============universal styles=====================
.link{
  border-radius: 42px;
  padding: 25px;
  background-color: $primary;
  p{
    margin: 0;
    text-align: center;
    color: $neutral2;
  }
  box-shadow: 0 4px 10px rgba(0,0,0, 0.3);
  &:hover{
    box-shadow: 0 10px 15px rgba(0,0,0, 0.3);
  }
  &:active{
    box-shadow: 0 2px 8px rgba(0,0,0, 0.3);
  }
  @media  (min-width: $tablet-lg){
    p{
      font-size: 20px;
      margin-bottom: 0;
    }
    padding: 25px 50px 25px 50px;
  }
}


//=============Styles=====================
//=====nav=====
#nav{
  margin-top: 2rem;

  @media (min-width: $tablet-lg) {
    margin-top: 4rem;
    padding: 0 3rem 0 3rem;
  }
}
.logo{
  width: 100% ;
}
.link-nav{
  border: 1px #ff52bf solid;
  border-radius: 30px;
  color: #ff52bf;
  padding: 5px 15px 5px 15px;
  font-weight: 400;
  font-size: 12px;
  background: transparent;
  box-shadow: 1px 1px 1px rgba(255, 82, 191, 0.3);




  @media  (min-width: $tablet){
    font-size: 16px;
    padding: 5px 30px 5px 30px;
    line-height: 30px;
  }
}
//====================header======================
#header{
  margin: 2rem 0 2rem 0;
  @media  (min-width: $tablet){
    margin: 3rem 0 1rem 0;
  }
}

.screen-mockup{
  width: 100%;
}
#stats-header-1, #stats-header-2{
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  margin: 0;

  @media  (min-width: $desktop){
    font-size: 6em;
  }
}
.typeOfStats-header{
  color: #aaaaaa;
  font-size: 18px;
  text-align: center;

}

//==========================main==================
#main{
  overflow: hidden;

}
.waves-main-1{
  height: 112px;
  background-image: url("../images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @media  (min-width: 375px){
    height: 225px;
    background-image: url("../images/bg-section-top-desktop-1.svg");
  }
}
.waves-main-2{
  height: 52px;
  background-image: url("../images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @media  (min-width: 375px){
    height: 198px;
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
  }
}
.waves-main-3{
  height: 103px;
  background-image: url("../images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @media  (min-width: 375px){
    height: 198px;
    background-image: url("../images/bg-section-top-desktop-2.svg");
  }
}
.waves-main-4{
  height: 101px;
  background-image: url("../images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @media  (min-width: 375px){
    height: 198px;
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
  }
}

.main-odd{
  background-color: $background-main;
  @media  (min-width: $tablet-lg){
    padding: 2rem 5rem 6rem 5rem;
  }
  .main-odd-title{
    @media  (min-width: $tablet-lg){
      &:nth-child(1){
        margin: 12rem 0 1rem 0;
      }
    }
  }
  .main-odd-title2{
    @media  (min-width: $tablet-lg){
      &:nth-child(1){
        margin: 10rem 0 1rem 0;
      }
    }
  }
}
.main-even{
  margin: 2rem 0 2rem 0 ;
  @media  (min-width: $tablet-lg){
    padding: 10rem 5rem 5rem 5rem;

  }
  .main-even-title{
    @media  (min-width: $tablet-lg){
      margin-top: 8rem;
    }

  }
}
.main-bot{
  margin: 2rem 0 2rem 0 ;
  @media  (min-width: $tablet-lg){
    padding: 8rem 5rem 5rem 5rem;

  }
  .main-even-title{
    @media  (min-width: $tablet-lg){
      margin-top: 8rem;
    }

  }
}

//================footer======================

#footer{
  overflow: hidden;
  padding: 0;
  color: #fff;
}
.footer_logo{
  margin-bottom: 15px;

  @media (min-width: $tablet){
    margin-bottom: 20px;
  }
  @media (min-width: $tablet-lg){
    margin-bottom: 25px;
  }
  @media (min-width: $desktop){
    margin-bottom: 30px;
  }

}
.waves-footer{
  margin-bottom: -4px;
  height: 103px;
  background-image: url("../images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @media  (min-width: 375px){
    height: 220px;
    background-image: url("../images/bg-footer-top-desktop.svg");
  }
}
.inner-footer{
  background-color: $neutral;
  padding: 7rem 2rem 10rem 2rem;

}
.input-footer{

  width: 100%;
  border: none;
  border-radius: 5px;
  height: 100%;
}
#email-news{
  padding-left: 15px;

}
.newsl_button{
  color: #fff;
  width: 100%;
  background-color: $primary;
  border: none;
  border-radius: 5px;
  padding: 10px;

  font-size: 14px;
  font-weight: 600;
  @media  (min-width: $tablet){
    font-size: 18px;
  }


}
.social-media{
  color: white;
  font-size: 2rem;

  @media  (min-width: $tablet ){

    height: 50px;
    color: white;
  }



}


//==========================sticky arrow=======================
#sticky-arrow{
  position: fixed;
  z-index: 2010;
  bottom: 20px;
  right: 20px;

  .arrow-up{

    font-size: 2rem;
    color: #ff52bf;
    width: 50px;
    height: 50px;
  }
}








@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .main-images{
    transform: scale(0.5);
  }
}
